<div class="containerH">
  <h3>Send a message!</h3>
</div>

<div class="containerH">
  <form method="post" action="/search/makeMessage">
    <input type="text" name="recipient" placeholder="Recipient" />
    <br /> 
    <input type="text" name="messageContent" placeholder="Message" />
</div>

<div class="containerH">
  <button>Try it!</button>
  </form> 
</div>
